.about-text {
  font-size: 25px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  font-family: copperplate;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  text-decoration: none;
}


.about-text:hover {
  color: #daa520;
  text-decoration: none;
  cursor: wait;
  transition: ease-in-out .5s;
}

.about-text:active {
  color: #daa520;
}